* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
}

.container {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.top {
    background-color: #1c5466;
    display: flex;
    justify-content: space-between;
    padding: 1% 5%;
    gap: 50%;
}

#pra {
    width: 60%;
}

.icon {
        position: absolute;
        top: 3%;
        right: 5%;
        cursor: pointer;
        right: 40%;
        display: none;
    }

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
}

#active:visited {
    color: #d7f5ff;
}

.nav > a {
    text-decoration: none;
    font-size: 15px;
    color: white;
}

.one {
    margin-bottom: 5px;
}

.two {
    margin-bottom: 5px;
}

.line {
    width: 50px;
    height: 5px;
    padding: 4px 0;
    background-color: black;
}

#active:hover {
    color: #317286;
}
a:hover {
    color: #317286;
}

.top-2 {
    background-image: url("image 2.png");
    padding: 200px;
}

.top-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2% 0;
}

#con {
    background-color: white;
    display: flex;
    justify-content: center;
    width: 15%;
    border: 1px solid black;
    padding:3% 2%;
    border-radius: 8%;
    margin-top: -7%;
}

.top-4 {
    display: flex;
    justify-content: center;
    margin-top: 1%;
}

hr {
    align-items: center;
    border: 2px solid #ec420d;
    width: 10%;
    z-index: 1;
}

.main {
    display: flex;
    margin-top: 2%;
}

.class-1 {
    position: relative;
    flex-basis: 60%;
    padding: 20px 60px;
}

.class-1 h2 {
    color: #317286;
    font-size: 27px;
    margin-bottom: 2%;
}

.class-1 p {
    margin-bottom: 5%;
    margin-left: 9%;
}

#vec-2 {
    position: absolute;
    top: 14%;
    left: 5%;
    margin-left: 5%;
}

#vec-101 {
    position: absolute;
    top: 24%;
    left: 5%;
    margin-left: 5%;
}

#vec-1 {
    position: absolute;
    top: 34%;
    left: 5%;
    margin-left: 5%;
}

#ave {
    margin-bottom: 7%;
}

#img-1 {
    margin-right: 3%;
}

#img-2 {
    width: 5%;
    margin-right: 3%;
  
}

#img-3 {
    margin-right: 3%;
}

#img-4 {
    width: 5%;
}


.class-2 {
    flex-basis: 60%;
    padding: 20px;
    color: #317286;
}

.class-2 h2 {
    font-size: 27px;
}

.input-row {
    display: flex;
    margin-top: 1%;
    margin-bottom: 20%;
}

.input-row .input-group {
    width: 100%;
}

#email {
    padding: 1% 3%;
    width: 47%;
    margin-right: 2%;
    margin-bottom: 1%;
    border: 1px solid rgb(221, 220, 220);
}

#subject {
    padding: 1% 3%;
    width: 47%;
    margin-left: 3.1%;
    border: 1px solid rgb(221, 220, 220);
}

textarea {
    padding: 1% 3%;
    font-size: 15px;
    width: 100%;
    margin-bottom: 2%;
    border: 1px solid rgb(221, 220, 220);
}

button {
    background-color :#ec420d ;
    color: white;
    padding: 2% 8%;
    border-radius: 10px;
}

footer {
    background-color: #F0FBFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2% 0;
    width: 100%;
    height: 100%;
    gap: 10%;
}

#link-us {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2% 0;
    width: 80%;
    height: 15%;
    gap: 7%;
}

#link-us a {
    text-decoration: none;
    font-size: 25px;
}

#vecz {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 10%;
    gap: 7%;

}

@media (max-width: 768px) {
    .container {
        display: flex;
    }

    .top {
        position: relative;
        display: flex;
        padding: 3% 5%;
        gap: 5%;
    }

    #pra {
        width: 50%;
    }

    .nav  {
        position: fixed;
        width: 100%;
        height: 100vh;
        display: flex;
        top: 15%;
        bottom: 0;
        left: 0;
        justify-content: center;
        align-items: center;
        font-size: 17px;
        color: black;
        display: none;
    }

    nav.visible {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        line-height: 150px;
        background-color: #3A7C92;
        padding-bottom: 20%;
        width: 100%;
        height: 100vh;
        z-index: 1;
    }

    nav.visible a {
        font-size: 50px;
    }

    nav.visible + .icon .one {
        transform: rotate(-45deg);
    }

    nav.visible + .icon .two {
        transform: rotate(45deg);
    }

    nav.visible + .icon .three {
        transform: rotate(-45deg);
        margin-bottom: -5px;
        display: none;
    }

    nav.visible + .icons .line {
        background-color: red;
    }

    .icon {
        position: absolute;
        top: 19%;
        right: 5%;
        cursor: pointer;
        display: block;
    }

    .top-2 {
        background-image: url("Rectangle 40.png");
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 40% 0;
        margin-top: 0;
        border-radius: 15px;
    }

    #con {
        background-color: white;
        display: flex;
        justify-content: center;
        width: 35%;
        border: 1px solid black;
        padding:3% 2%;
        border-radius: 8%;
        margin-top: 0;
    }

    hr {
        display: none;
    }

    .main {
        display: flex;
        flex-direction: column;
    }

    .class-1 {
        position: relative;
        flex-basis: 60%;
        padding: 5% 5%;
    }
    
    .class-1 h2 {
        font-size: 40px;
        margin-bottom: 2%;
    }
    
    .class-1 p {
        font-size: 23px;
        margin-bottom: 5%;
    }

    #vec-2 {
        position: absolute;
        top: 27%;
        left: 0.5%;
        margin-left: 5%;
    }
    
    #vec-101 {
        position: absolute;
        top: 42%;
        left: 2%;
        margin-left: 5%;
    }
    
    #vec-1 {
        position: absolute;
        top: 58%;
        left: 2%;
        margin-left: 5%;
    }
    
    #ave {
        margin-bottom: 7%;
    }
    
    #img-1 {
        width: 10%;
        margin-right: 3%;
    }
    
    #img-2 {
        width: 10%;
        margin-right: 3%;
      
    }
    
    #img-3 {
        width: 10%;
        margin-right: 3%;
    }
    
    #img-4 {
        width: 10%;
    }

    .class-2 {
        flex-basis: 60%;
        padding: 3% 5%;
        color: #317286;
    }

    .class-2 h2 {
        font-size: 40px;
    }
    
    .input-row {
        display: flex;
        margin-bottom: 5%;
    }
    
    .input-row .input-group {
        width: 100%;
    }
    
    #email {
        padding: 1% 3%;
        width: 50%;
    }
    
    #subject {
        padding: 1% 3%;
        margin-left: 0;
        margin-bottom: 1%;
        width: 50%;
    }
    
    textarea {
        width: 100%;
        margin-bottom: 2%;
    }
    
    button {
        background-color: #ec420d;
        color: white;
        padding: 2% 8%;
        border-radius: 10px;
    }

    footer {
        line-height: 40px;
        width: 100%;
}

#link-us {
        width: 100%;
}

#link-us a {
        font-size: 18px;
}
}
    
    
